<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
		    <ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Reset Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-transparant">	
	<ion-card class="welcome-card">
		<ion-card-content>	  			
		<form [formGroup]="ResetPasswordForm" (ngSubmit)="change_my_password(ResetPasswordForm.value)">
			<ion-input type="hidden" formControlName="code"></ion-input>
		  	<ion-input type="hidden" formControlName="email"></ion-input>
			<div class="ion-list">          
				<ion-item lines="none">
					<ion-label position="floating" floating>Password</ion-label>
					<ion-input type="password" formControlName="password_1"></ion-input>
				</ion-item>
				<!--VALIDATION-->
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.password_1">
						<div class="error-message" *ngIf="ResetPasswordForm.get('password_1').hasError(validation.type) && (ResetPasswordForm.get('password_1').dirty || ResetPasswordForm.get('password_1').touched)">
						<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
						</div>
					</ng-container>
				</div>
				<!--VALIDATION-->
				<ion-item lines="none">
					<ion-label position="floating" floating>Confirm Password</ion-label>
					<ion-input type="password" formControlName="password_2"></ion-input>
				</ion-item>
				<!--VALIDATION-->
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.password_2">
						<div class="error-message" *ngIf="ResetPasswordForm.get('password_2').hasError(validation.type) && (ResetPasswordForm.get('password_2').dirty || ResetPasswordForm.get('password_2').touched)">
						<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
						</div>
					</ng-container>
				</div>
				<!--VALIDATION-->	      	             
				<ion-button type="submit" fill="outline" color="light" expand="block"  
				[disabled]="!ResetPasswordForm.valid" class="login-btn">Submit</ion-button>	      	      
			</div>
		</form>
		</ion-card-content>
	</ion-card>
</ion-content>
