<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Help Reading Your DNA Result</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="searchDnaResultForm" (ngSubmit)="search_heirstorian(searchDnaResultForm.value)">
	<ion-grid>		
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label>DNA Specialist</ion-label>
					<ion-select formControlName="dna_specialist">
						<ion-select-option *ngFor="let dnaspecialist of config_dna_specialist | keyvalue" 
						value="{{dnaspecialist.key}}">{{dnaspecialist.value}}</ion-select-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label>What is your budget?</ion-label>
					<ion-select formControlName="rate">
						<ion-select-option *ngFor="let hr_options of config_rate_hourly_options | keyvalue" 
						value="{{hr_options.key}}">{{hr_options.value}}</ion-select-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row>
			<ion-col>
				<ion-button type="submit" color="danger" expand="block">Search</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	</form>
</ion-content>
