<!--<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
	<ion-list>
		<ion-item class="docdetails" lines="none">
			<ion-avatar item-start  *ngIf="resultData.photo!=null">
				<img src="{{search_profile_photo_url}}{{resultData.photo}}">
			</ion-avatar>
			<ion-avatar item-start  *ngIf="resultData.photo===null">
				<img src="assets/images/1.png">
			</ion-avatar>
			<ion-label>
				<ion-row class="ion-align-items-end ion-justify-content-between">
					<ion-col>	
						<h2>{{resultData.first_name}} {{resultData.last_name}}</h2>
					</ion-col>
					<ion-col size="3" class="ion-text-end">	
						<h2>${{resultData.cost}}</h2>
					</ion-col>
				</ion-row>
				<ion-row  class="ion-align-items-start">
					<ion-col class="ion-no-padding">	
						<span *ngFor="let star of [1,2,3,4,5]; let s=index;" class="resultDataRating">
						<ion-icon name="star" color="warning" *ngIf="star <= resultDataRating"></ion-icon>
						<ion-icon name="star-outline" color="medium" *ngIf="s >= resultDataRating"></ion-icon>
						</span>
					</ion-col>
					<ion-col size="3" class="ion-no-padding ion-text-right buttonsWrap">
						<div *ngIf="isAnyLoggedin==0">
							<ion-button size="small" color="warning" 
							(click)="login_and_allow_action(resultData.user_id)">
							<ion-icon name="star"></ion-icon>
							</ion-button>
							<!--<ion-button size="small" color="warning" 
							routerLink="/login" routerDirection="root"><ion-icon name="star"></ion-icon></ion-button>-->
						</div>
						<div *ngIf="isAnyLoggedin==1 && isUserResearcherProjectCompleted==0">		
							<ion-button size="small" color="warning" 
							(click)="error_rate_this_heirstorian()">
							<ion-icon name="star"></ion-icon>
							</ion-button>
						</div>
						<div *ngIf="isAnyLoggedin==1 && isUserResearcherProjectCompleted==1">		
							<ion-button size="small" color="warning" 
							(click)="rate_this_heirstorian(resultData.user_id)">
							<ion-icon name="star"></ion-icon>
							</ion-button>
						</div>
						<div *ngIf="isAnyLoggedin==0">
							<ion-button size="small" color="warning" 
							(click)="login_and_allow_action(resultData.user_id)">
								<ion-icon name="flag"></ion-icon>
							</ion-button>
							<!--<ion-button size="small" color="warning" 
							routerLink="/login" routerDirection="root"><ion-icon name="flag"></ion-icon></ion-button>-->
						</div>
						<div *ngIf="isAnyLoggedin==1">
							<ion-button size="small" color="warning" (click)="flag_this_heirstorian(resultData.first_name,resultData.last_name,resultData.email)">
								<ion-icon name="flag"></ion-icon>
							</ion-button>
						</div>
					</ion-col>
				</ion-row>	
			</ion-label>
		</ion-item>
		<ion-item class="docdetails" lines="none">
			<ion-row>
				<ion-col size="6">
					<div *ngIf="isAnyLoggedin==0">						
						<ion-button color="purple" expand="block" [disabled]="resultData.payment_option == null ? true : false"  
						(click)="login_and_allow_action(resultData.user_id)">BOOK</ion-button>
						<!--<ion-button color="primary" expand="block" 
						routerLink="/login" routerDirection="root">BOOK</ion-button>-->
					</div>
					<div *ngIf="isAnyLoggedin==1">
						<ion-button color="purple" expand="block" [disabled]="resultData.payment_option == null ? true : false" 
						(click)="book_heirstorian(resultData.user_id)">BOOK</ion-button>
					</div>
				</ion-col>
				<ion-col size="6">
					<div *ngIf="isAnyLoggedin==0">
						<ion-button color="purple" expand="block" 
						(click)=login_and_allow_action(resultData.user_id)>MESSAGE</ion-button>
						<!--<ion-button color="primary" expand="block" 
						routerLink="/login" routerDirection="root">MESSAGE</ion-button>-->
					</div>
					<div *ngIf="isAnyLoggedin==1">
						<ion-button color="purple" expand="block" 
						(click)=message_heirstorian(resultData.user_id)>MESSAGE</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-item>
		</ion-list>
</ion-header>
<ion-content>
	<ion-list class="show-researcher-info">
	   	<!--<ion-item lines="none">
			<ion-label>
				<h3>Info</h3>
				<div class="info" [innerHTML]="resultData.experience"></div>
			</ion-label>
	   	</ion-item>-->
	   	<!--WITH IMAGE-->		
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/goal-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Years of Experience</h3>
				<div class="info">
					{{resultData.yr_of_experience}} Years
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/clock.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Time Period</h3>
				<div class="info" *ngIf="resultTimePeriod.length > 0">
					<span *ngFor="let time_period of resultTimePeriod">{{time_period}}<br> </span>
				</div>
				<div class="info" *ngIf="resultTimePeriod.length == 0">
					<span>Not specified.</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/passport-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Immigration Records</h3>
				<div class="info">{{resultData.imm_records}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/quality.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Qualifications - Certifications</h3>
				<div class="info" *ngIf="resultQualification.length > 0">
					<span *ngFor="let qual_cert of resultQualification">{{qual_cert}}<br> </span>
					<span>{{resultData.other_qual_cert}}</span>
				</div>
				<div class="info" *ngIf="resultQualification.length == 0">
					<span>Not specified.</span>
					<span>{{resultData.other_qual_cert}}</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/dna-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>DNA Specialist?</h3>
				<div class="info">{{resultData.dna_specialist}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/adoption-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Adoption Help?</h3>
				<div class="info">{{resultData.adoption_help}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/church-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Religious Records</h3>
				<div class="info" *ngIf="resultReligiousRecords.length > 0">
					<span *ngFor="let religious_rec of resultReligiousRecords">{{religious_rec}}<br> </span>
				</div>
				<div class="info" *ngIf="resultReligiousRecords.length == 0">
					<span>Not specified.</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/international-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>International</h3>
				<div class="info" *ngIf="resultInternational.length > 0">
					<span *ngFor="let international of resultInternational">{{international}}<br> </span>
				</div>
				<div class="info" *ngIf="resultInternational.length == 0">
					<span>Not specified.</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">			
			<ion-thumbnail slot="start">
				<img src="./assets/imgs/custom/translate-32x32.png">
			</ion-thumbnail>
			<ion-label>
				<h3>Language</h3>
				<div class="info" *ngIf="resultLanguage.length > 0">
					<span *ngFor="let language of resultLanguage">{{language}}<br> </span>
					<span>{{resultData.other_language}}</span>
				</div>
				<div class="info" *ngIf="resultLanguage.length == 0">
					<span>Not specified.</span>
					<span>{{resultData.other_language}}</span>
				</div>
			</ion-label>
		</ion-item>		
		<!--WITH IMAGE-->
		<!--WITHOUT IMAGE-->
		<!--<ion-item lines="none">
		   	<ion-label>
		   		<h3>Years of Experience</h3>
				<div class="info">{{resultData.yr_of_experience}} Years</div>
			</ion-label>
		</ion-item>		
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Time Period</h3>
				<div class="info"><span *ngFor="let time_period of resultTimePeriod">{{time_period}}<br> </span></div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Immigration Records</h3>
				<div class="info">{{resultData.imm_records}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Qualifications - Certifications</h3>
				<div class="info">
					<span *ngFor="let qual_cert of resultQualification">{{qual_cert}}<br> </span>
					<span>{{resultData.other_qual_cert}}</span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>DNA Specialist?</h3>
				<div class="info">{{resultData.dna_specialist}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Adoption Help?</h3>
				<div class="info">{{resultData.adoption_help}}</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Religious Records</h3>
				<div class="info">
					<span *ngFor="let religious_rec of resultReligiousRecords">{{religious_rec}}<br> </span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>International</h3>
				<div class="info">
					<span *ngFor="let international of resultInternational">{{international}}<br> </span>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
		   	<ion-label>
		   		<h3>Language</h3>
				<div class="info">
					<span *ngFor="let language of resultLanguage">{{language}}<br> </span>
					<span>{{resultData.other_language}}</span>
				</div>
			</ion-label>
		</ion-item>-->
		<!--WITHOUT IMAGE-->
	</ion-list>
</ion-content>