<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Thank You For Becoming A Researcher</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>Please look at onboarding video, this will guide through the process.</ion-item>
	<ion-item>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/mmd0-pNx3fs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</ion-item>
	<ion-item text-center>
		<ion-button color="primary" routerLink="/profile-main" routerDirection="root">SKIP</ion-button>
	</ion-item>
</ion-content>
