<ion-header class="main_headere">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-transparant">	
	<ion-card class="welcome-card">
		<ion-card-content>	  			
		<form [formGroup]="ChangePasswordForm" (ngSubmit)="change_account_password(ChangePasswordForm.value)">
		<div class="ion-list">         
			<ion-item lines="none">
				<ion-label position="floating" floating>Old Password</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
			<ng-container *ngFor="let validation of validation_messages.password">
				<div class="error-message" *ngIf="ChangePasswordForm.get('password').hasError(validation.type) && (ChangePasswordForm.get('password').dirty || ChangePasswordForm.get('password').touched)">
				<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
				</div>
			</ng-container>
			</div>
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>New Password</ion-label>
				<ion-input type="password" formControlName="password_1"></ion-input>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
			<ng-container *ngFor="let validation of validation_messages.password_1">
				<div class="error-message" *ngIf="ChangePasswordForm.get('password_1').hasError(validation.type) && (ChangePasswordForm.get('password_1').dirty || ChangePasswordForm.get('password_1').touched)">
				<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
				</div>
			</ng-container>
			</div>
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>Confirm Password</ion-label>
				<ion-input type="password" formControlName="password_2"></ion-input>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
			<ng-container *ngFor="let validation of validation_messages.password_2">
				<div class="error-message" *ngIf="ChangePasswordForm.get('password_2').hasError(validation.type) && (ChangePasswordForm.get('password_2').dirty || ChangePasswordForm.get('password_2').touched)">
				<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
				</div>
			</ng-container>
			</div>
			<!--VALIDATION-->	      	             
			<ion-button type="submit" expand="block"  
			[disabled]="!ChangePasswordForm.valid" class="login-btn">Submit</ion-button>	      	      
		</div>
		</form>
		</ion-card-content>
	</ion-card>
</ion-content>
