<ion-header class="main_headere">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
        <!--<ion-back-button></ion-back-button>-->
    </ion-buttons>
    <ion-title>Payment Information</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-transparant">
	<ion-card class="welcome-card">
		<ion-card-content>	  			
			<!--PAYPAL IDENTITY-->
			<ion-list>
				<ion-list-header>
					<ion-text color="dark" class="margin-auto">
					  <h1>Add Account</h1>
					</ion-text>
				</ion-list-header>
				<ion-item lines="none" [ngClass]="{'dispnone' : resultData['payment_option']=='paypal'}">
					<div class="margin-auto">
						<div id='cwppButton'></div>
					</div>
				</ion-item>
				<ion-item lines="none" [ngClass]="{'dispnone' : resultData['payment_option']=='strip'}">
					<div class="margin-auto">
						<img src="./assets/images/blue-on-dark.png" class="stripeBtn" (click)="openStripe()">
					</div>
				</ion-item>
				<ion-item-divider>
					<!--<ion-label>Basic Item Divider</ion-label>-->
				</ion-item-divider>			
			</ion-list>
			<ion-list *ngIf="resultData['payment_option']=='paypal'">
				<ion-list-header>
					<ion-text color="dark"  class="margin-auto">
					  <h1>Account Details</h1>
					  <p>{{resultData['account_to_accept_payment']}}</p>
					</ion-text>
				</ion-list-header>				
				<ion-item lines="none">
					<div class="margin-auto">
						<img class="stripeBtn" src="./assets/images/paypal-logo.png">
					</div>
				</ion-item>	
				<ion-item lines="none" class="ion-text-center">
					<ion-chip>
						<ion-icon name="close" (click)="remove_payment_method()"></ion-icon>
						<ion-label>Remove Payment Method</ion-label>
					</ion-chip>
				</ion-item>		
			</ion-list>
			<ion-list *ngIf="resultData['payment_option']=='strip'">
				<ion-list-header>
					<ion-text color="dark" class="margin-auto">
					  <h1>Account Details</h1>
					  <p>{{resultData['stripe_account_id']}}</p>
					</ion-text>
				</ion-list-header>
				<ion-item lines="none">
					<div class="margin-auto">
						<img class="stripeBtn" src="./assets/images/stripe-logo.png">
					</div>
				</ion-item>
				<ion-item lines="none" class="ion-text-center">
					<ion-chip>
						<ion-icon name="close" (click)="remove_payment_method()"></ion-icon>
						<ion-label>Remove Payment Method</ion-label>
					</ion-chip>
				</ion-item>							
			</ion-list>			
		</ion-card-content>
	</ion-card>
</ion-content>
