<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Benefits Becoming Researcher</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="bg-transparant">
	<!--NEW-->
	<ion-list>
		<ion-item lines="inset">
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h3>#1 Get Paid</h3>
				</ion-text>
				<p class="ion-padding-top">MyHeirStory is the first of its kind platform that ensures family researchers, genealogists, and DNA specialists receive payment for their services in a timely manner. Whether you are providing services for a young millennial in California searching for her grandparents’ origins or an elderly couple seeking help in Florida with their family tree – with MyHeirStory you are guaranteed to receive payment for your services.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="inset">
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h3>#2 Work When You Want</h3>
				</ion-text>
				<p class="ion-padding-top">MyHeirStory’s services allow you to field requests only for your services. Then, you’ll be able to decide on each request that comes your way. Accept only those that work for you–and you’ll have the dream work schedule! You can choose to help a family trying to understand their DNA results or help a family searching for their missing grandfather. Whatever you choose, you’re in total control.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="inset">
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h3>#3 Set Your Own Rates</h3>
				</ion-text>
				<p class="ion-padding-top">Gone are the days of depending on a boss to assess what you’re worth. You get to determine the value of your services, based on your expertise and credentials. You might start off with lower rates, then up them over time as you gain experience, reviews, and clientele.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h3>#4 Achieve Financial Freedom</h3>
				</ion-text>
				<p class="ion-padding-top">Maybe you’ve got a pile of debt to pay off. Maybe you’re trying to buy a house. MyHeirStory brings your goals within reach. If you work from home, you can easily increase your income by providing genealogy services to your regular routine. Sign up today and help a family discover their family roots.</p>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-button class="login-btn" routerLink="/payment-information" routerDirection="root" 
			fill="solid" color="purple" expand="block">BECOME A RESEARCHER</ion-button>
		</ion-item>
	</ion-list>
	<!--NEW-->
	<!--<ion-grid>
		<ion-row>
			<ion-col size="12"><ion-text color="primary">#1 Get Paid</ion-text></ion-col>
			<ion-col size="12">
				<p>MyHeirStory is the first of its kind platform that ensures family researchers, genealogists, and DNA specialists receive payment for their services in a timely manner. Whether you are providing services for a young millennial in California searching for her grandparents’ origins or an elderly couple seeking help in Florida with their family tree – with MyHeirStory you are guaranteed to receive payment for your services.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12"><ion-text color="primary">#2 Work When You Want</ion-text></ion-col>
			<ion-col size="12">
				<p>MyHeirStory’s services allow you to field requests only for your services. Then, you’ll be able to decide on each request that comes your way. Accept only those that work for you–and you’ll have the dream work schedule! You can choose to help a family trying to understand their DNA results or help a family searching for their missing grandfather. Whatever you choose, you’re in total control.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12"><ion-text color="primary">#3 Set Your Own Rates</ion-text></ion-col>
			<ion-col size="12">
				<p>Gone are the days of depending on a boss to assess what you’re worth. You get to determine the value of your services, based on your expertise and credentials. You might start off with lower rates, then up them over time as you gain experience, reviews, and clientele.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12"><ion-text color="primary">#4 Achieve Financial Freedom</ion-text></ion-col>
			<ion-col size="12">
				<p>Maybe you’ve got a pile of debt to pay off. Maybe you’re trying to buy a house. MyHeirStory brings your goals within reach. If you work from home, you can easily increase your income by providing genealogy services to your regular routine. Sign up today and help a family discover their family roots.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<a routerLink="/payment-information" routerDirection="root">BECOME A RESEARCHER</a>
			</ion-col>
		</ion-row>
	</ion-grid>-->
</ion-content>
