<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Search</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home-search-familytree">
			<ion-icon name="people"></ion-icon>
			<ion-label>Building Family Tree</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="home-search-dnaresult">
			<ion-icon name="infinite"></ion-icon>
			<ion-label>Understanding DNA Results</ion-label>
		</ion-tab-button>	
	</ion-tab-bar>
	</ion-tabs>
</ion-content>

<!--<ion-tabs>
	<ion-tab-bar slot="top">
		<ion-tab-button tab="home-search-familytree">
			<ion-icon name="flash"></ion-icon>
			<ion-label>Building Family Tree</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="home-search-dnaresult">
			<ion-icon name="apps"></ion-icon>
			<ion-label>Understanding DNA Results</ion-label>
		</ion-tab-button>	
	</ion-tab-bar>
</ion-tabs>-->