
ion-header{
    --background: #232277;
    background: #232277;
    ion-toolbar{
      background: #232277;
      --background: #232277;
        ion-title {
          color: white;
        }
        ion-buttons{
          .filter{
            background: #fff;
            padding: 6px 10px;
            align-items: center;
            display: flex;
            font-weight: bold;
            ion-icon{
                padding-left: 7px;
            }
          }
        }
        ion-menu-button{
          color: white;
        }
    }
}
ion-content{
	--background:#fff;
	background: #fff;
	ion-list{
		--background:#fff;
		background: #fff;
    padding:0;
		ion-menu-toggle{
			ion-item{
			--background: #fff;
			background: #fff;
			}
		}
	}
	
}

ion-menu.myheirstory-menu
{ 
  .socilLinks {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
      text-align: center;
      font-size:30px;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      color:#232277;
      ion-icon:nth-of-type(1n+2){margin-left: 16px;}
  }
  .welcome-text{
    color:#232277;
    background: #eee;
    --background: #eee;
    --ion-background: #eee;
    padding: 10px 0;
    ion-avatar{
      margin-right: 15px;
    }
  }
}