<ion-header>
	<ion-toolbar>		
		<ion-title>User</ion-title>
		<ion-buttons slot="end">
	      <button ion-button icon-only (click)="switchStyle()">
	        <ion-icon name="bulb"></ion-icon>
	      </button>
	    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>				
		<ion-row>
			<ion-col size="12">
				<ngx-datatable class="material fullscreen" [ngClass]="tablestyle" [rows]="resultData" 
				[columnMode]="'force'" [scrollbarV]="true" [scrollbarH]="true" 
				[sortType]="'multi'" [reorderable]="false">    
				<ngx-datatable-column prop="question" name="Question" [width]="300"></ngx-datatable-column>
				<ngx-datatable-column name="To Heirstorian" [width]="200">
					<ng-template let-row="row" ngx-datatable-cell-template>
				      {{ row.first_name }} {{ row.last_name }}
				    </ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column prop="contact_on_date" name="Contact on Date" 
				[width]="150"></ngx-datatable-column>	
				<ngx-datatable-column name="A/Status" [width]="70">
					<ng-template let-row="row" ngx-datatable-cell-template>						
				      <ion-icon name="ios-checkmark-circle-outline" 
				      *ngIf="row.message_status==1"></ion-icon>
				      <ion-icon name="ios-close-circle-outline" *ngIf="row.message_status==0"></ion-icon>	      
				    </ng-template>
				</ngx-datatable-column>	
				<ngx-datatable-column prop="id" name="Action" [width]="80">	  
				  <ng-template let-row="row" ngx-datatable-cell-template>
				    <button ion-button small outline color="light" (click)="view_message(row)">
				    	<ion-icon name="eye"></ion-icon>
				    </button>
				    <button ion-button small outline color="light" (click)="remove_message(row)">
				    	<ion-icon name="trash"></ion-icon>
				    </button>
				  </ng-template>
				</ngx-datatable-column>
				</ngx-datatable>
			</ion-col>
		</ion-row>
	</ion-grid>	
</ion-content>
