<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-menu-button></ion-menu-button>
	  		<!--<ion-back-button></ion-back-button>-->
		</ion-buttons>
		<ion-title>Bookings</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="booking-main-heirstorian">
			<ion-icon name="flask" color="purple"></ion-icon>
			<ion-label>Researcher</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="booking-main-user">
			<ion-icon name="person" color="purple"></ion-icon>
			<ion-label>User</ion-label>
		</ion-tab-button>	
	</ion-tab-bar>
	</ion-tabs>
</ion-content>