<!--<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Book Researcher</ion-title>
	</ion-toolbar>
</ion-header>-->
<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Book Researcher</ion-title>
	</ion-toolbar>
	<ion-list>
		<ion-item class="docdetails" lines="none">
			<ion-avatar item-start  *ngIf="resultData.photo!=null">
				<img src="{{search_profile_photo_url}}{{resultData.photo}}">
			</ion-avatar>
			<ion-avatar item-start  *ngIf="resultData.photo===null">
				<img src="assets/images/1.png">
			</ion-avatar>
			<ion-label>
				<ion-row>
					<ion-col>	
						<h2>{{resultData.first_name}} {{resultData.last_name}}</h2>
					</ion-col>					
				</ion-row>
				<ion-row>					
					<ion-col>	
						<h2>${{resultData.cost}}/hr</h2>
					</ion-col>
				</ion-row>					
			</ion-label>
		</ion-item>		
	</ion-list>
</ion-header>

<ion-content class="bg-transparant">
	<ion-card class="welcome-card">		
		<ion-card-content >	  			
		<form [formGroup]="HeirstorianBookingForm" 
		(ngSubmit)="book_this_heirstorian(HeirstorianBookingForm.value)">
		  <ion-input type="hidden" formControlName="user_id"></ion-input>
		  <ion-input type="hidden" formControlName="heirstorian_id"></ion-input>
		  <ion-input type="hidden" formControlName="booking_cost"></ion-input>
		  <ion-input type="hidden" formControlName="booking_date"></ion-input>		  
			<div class="ion-list">
				<ion-item lines="none">
					<ion-label position="floating">Services</ion-label>
					<ion-select formControlName="service_id" (ionChange)="on_change_service($event)">
					<ion-select-option *ngFor="let services of resultDataServices" 
					value="{{services.id}}">{{services.category_name}}</ion-select-option>
				</ion-select>	      	
				</ion-item>
				<ion-item  *ngIf="service_desc!=''" lines="none">
					<div [innerHTML]="service_desc"></div>
				</ion-item>
				<!--VALIDATION-->
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.service_id">
						<div class="error-message" *ngIf="HeirstorianBookingForm.get('service_id').hasError(validation.type) && (HeirstorianBookingForm.get('service_id').dirty || HeirstorianBookingForm.get('service_id').touched)">
						<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
						</div>
					</ng-container>
				</div>
				<!--VALIDATION-->	      	      
				<ion-item lines="none">
					<ion-label position="floating">Package</ion-label>
					<ion-select formControlName="package_selected">
					<ion-select-option *ngFor="let packages of hrOptions; let i=index" 
					value="{{packages}}">{{packages}} Hours</ion-select-option>
				</ion-select>	      	
				</ion-item>
				<!--VALIDATION-->
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.package_selected">
						<div class="error-message" *ngIf="HeirstorianBookingForm.get('package_selected').hasError(validation.type) && (HeirstorianBookingForm.get('package_selected').dirty || HeirstorianBookingForm.get('package_selected').touched)">
						<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
						</div>
					</ng-container>
				</div>
				<!--VALIDATION-->
				<!--<ion-item lines="none">
					<ion-label position="floating">Date-Time</ion-label>
					<ion-datetime bg-color="light" formControlName="booking_date" 
					display-format="D, MMMM YYYY hh:mm A" picker-format="YYYY-MM-DD HH:mm:ss"></ion-datetime>
				</ion-item>-->
		  		<ion-button type="submit" class="login-btn" expand="block" 
		  		[disabled]="!HeirstorianBookingForm.valid">BOOK</ion-button>	      
			</div>
		</form>
		</ion-card-content>
	</ion-card>
</ion-content>
