<ion-header class="main_headere">
  <ion-toolbar>
		<ion-buttons slot="start">
	  		<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-buttons fill="clear" slot="end">
			<ion-button class="filter" (click)="dismissModal(SearchMainForm.value)">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Filters</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="bg-transparant">
	<ion-card class="welcome-card">
		<ion-card-header class="ion-no-padding">
			<ion-card-subtitle>Search Researcher</ion-card-subtitle>
			<ion-card-title>Search</ion-card-title>
		</ion-card-header>
	  <ion-card-content>	  			
	    <form [formGroup]="SearchMainForm" (ngSubmit)="search_heirstorian(SearchMainForm.value)">
		<div class="ion-list">
			<ion-item lines="none">
				<ion-label position="floating" floating>Search with Text</ion-label>
				<ion-input type="text" formControlName="search_text"></ion-input>
			</ion-item>		
			<!--<ion-item lines="none">
				<ion-label position="floating" floating>Rate Type</ion-label>
				<ion-select formControlName="rate_type">
					<ion-select-option *ngFor="let rate_types of config_rate_type_options | keyvalue" 
					value="{{rate_types.key}}">{{rate_types.value}}</ion-select-option>
				</ion-select>
			</ion-item>-->
			<ion-item lines="none">
				<ion-label position="floating" floating>Rate</ion-label>
				<ion-select formControlName="rate">
					<ion-select-option *ngFor="let hr_options of config_rate_hourly_options | keyvalue" 
					value="{{hr_options.key}}">{{hr_options.value}}</ion-select-option>
				</ion-select>
			</ion-item>		
			<!--<ion-item lines="none">
				<ion-label position="floating" floating>States</ion-label>
				<ion-select multiple="true" formControlName="states">
					<ion-select-option *ngFor="let states of config_states | keyvalue" 
					value="{{states.key}}">{{states.value}}</ion-select-option>
				</ion-select>
			</ion-item>-->
			<!--VALIDATION-->
			<!--<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.states">
					<div class="error-message" *ngIf="SearchMainForm.get('states').hasError(validation.type) && (SearchMainForm.get('states').dirty || SearchMainForm.get('states').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
					</div>
				</ng-container>
			</div>-->
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>Specialties</ion-label>
				<ion-select multiple="true" formControlName="specialties">
					<ion-select-option *ngFor="let specialties of config_specialities_options | keyvalue" 
					value="{{specialties.key}}">{{specialties.value}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.specialties">
					<div class="error-message" *ngIf="SearchMainForm.get('specialties').hasError(validation.type) && (SearchMainForm.get('specialties').dirty || SearchMainForm.get('specialties').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
					</div>
				</ng-container>
			</div>
			<!--VALIDATION-->		
			<ion-item lines="none">
				<ion-label position="floating" floating>Certifications/Associations</ion-label>
				<ion-select multiple="true" formControlName="qual_cert">
					<ion-select-option *ngFor="let qual_cert of config_qua_certif_options | keyvalue" 
					value="{{qual_cert.key}}">{{qual_cert.value}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.qual_cert">
					<div class="error-message" *ngIf="SearchMainForm.get('qual_cert').hasError(validation.type) && (SearchMainForm.get('qual_cert').dirty || SearchMainForm.get('qual_cert').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
					</div>
				</ng-container>
			</div>
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>Time Period</ion-label>
				<ion-select multiple="true" formControlName="time_period">
					<ion-select-option *ngFor="let time_period of config_time_period | keyvalue" 
					value="{{time_period.key}}">{{time_period.value}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.time_period">
					<div class="error-message" *ngIf="SearchMainForm.get('time_period').hasError(validation.type) && (SearchMainForm.get('time_period').dirty || SearchMainForm.get('time_period').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
					</div>
				</ng-container>
			</div>
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>Immigration Records</ion-label>
				<ion-select formControlName="imm_records">
					<ion-select-option *ngFor="let imm_records of config_immigration_options | keyvalue" 
					value="{{imm_records.key}}">{{imm_records.value}}</ion-select-option>
				</ion-select>
			</ion-item>		
			<ion-item lines="none">
				<ion-label position="floating" floating>Years of Experience</ion-label>
				<ion-select formControlName="yr_of_experience">
					<ion-select-option *ngFor="let yr_exp of [1,2,3,4,5,6,7,8,9,10]" 
					value="{{yr_exp}}">{{yr_exp}}</ion-select-option>
				</ion-select>
			</ion-item>		
			<ion-item lines="none">
				<ion-label position="floating" floating>Language</ion-label>
				<ion-select multiple="true" formControlName="language">
					<ion-select-option *ngFor="let language of config_language_options | keyvalue" 
					value="{{language.key}}">{{language.value}}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.language">
					<div class="error-message" *ngIf="SearchMainForm.get('language').hasError(validation.type) && (SearchMainForm.get('language').dirty || SearchMainForm.get('language').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
					</div>
				</ng-container>
			</div>
			<!--VALIDATION-->
			<ion-item lines="none">
				<ion-label position="floating" floating>DNA Specialist</ion-label>
				<ion-select formControlName="dna_specialist">
					<ion-select-option *ngFor="let dna_specialist of config_dna_specialist | keyvalue" 
					value="{{dna_specialist.key}}">{{dna_specialist.value}}</ion-select-option>
				</ion-select>
			</ion-item>		
			<ion-item lines="none">
				<ion-label position="floating" floating>Star Rating</ion-label>
				<ion-select formControlName="st_rating">
					<ion-select-option *ngFor="let yr_exp of [1,2,3,4,5]" 
					value="{{yr_exp}}">{{yr_exp}}</ion-select-option>
				</ion-select>
			</ion-item>		
			<ion-item lines="none">
				<ion-label position="floating" floating>Adoption Help</ion-label>
				<ion-select formControlName="adoption_help">
					<ion-select-option 
					*ngFor="let adoption_help of config_adoption_help_options | keyvalue" 
					value="{{adoption_help.key}}">{{adoption_help.value}}</ion-select-option>
				</ion-select>
			</ion-item>				
			<ion-button type="submit" class="login-btn" expand="block" 
			[disabled]="!SearchMainForm.valid">
			Search</ion-button>
			<ion-button type="submit" color="danger" expand="block" 
			(click)="reset_search()">Reset</ion-button>	      
		</div>
	    </form>	    
	  </ion-card-content>
	</ion-card>
</ion-content>
