<ion-header class="main_headere">
	<ion-toolbar>
		<ion-buttons slot="start">      	
			<ion-back-button></ion-back-button>
		</ion-buttons>
	<ion-title>Forgot Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-transparant">		
	<ion-card class="welcome-card">
		<ion-card-content>	  			
		<form [formGroup]="ForgotPasswordForm" (ngSubmit)="recover_my_password(ForgotPasswordForm.value)">
			<ion-list inset>          
			<ion-item>
				<ion-label position="floating" floating>Username(Email)</ion-label>
				<ion-input type="email" formControlName="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
			</ion-item>
			<!--VALIDATION-->
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email">
					<div class="error-message" *ngIf="ForgotPasswordForm.get('email').hasError(validation.type) && (ForgotPasswordForm.get('email').dirty || ForgotPasswordForm.get('email').touched)">
					<ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
				</div>
				</ng-container>
			</div>
			<!--VALIDATION-->	      	             
			</ion-list>
			<ion-button class="login-btn" type="submit" fill="outline" color="light" expand="block"  
			[disabled]="!ForgotPasswordForm.valid">Submit</ion-button>
			<p class="ion-text-center" routerLink="/login" routerDirection="root">Already have an account? Login</p>
		</form>
		</ion-card-content>
	</ion-card>
</ion-content>
