<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="assets/images/logo_grey.png" width="150"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="sliderWrap">
    <ion-slides #mySlider pager="false" [options]="sliderOpts">
      <ion-slide>
        <img src="/assets/images/slider/mhsmain3.jpg" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/slider/mhsmain4.jpg" alt="" />
      </ion-slide>
    </ion-slides>
    <div class="captionWrap center">
      <h6>Hire Trusted Genealogists and DNA Specialists who will treat your research project as their own family.</h6>
    </div>
    <div class="captionWrap bottom">
      <div class="btnWrap">
        <ion-button color="light" expand="block" fill="outline" routerLink="/home-search">Search</ion-button>
        <ion-button color="light" expand="block" fill="outline" routerLink="/home-search">Signup</ion-button>
      </div>
    </div>

  </div>
  <div hidden>
    <ion-grid>
      <ion-row>
        <ion-col>All services booked on MyHeirStory are backed by the MyHeirStory Guarantee and our Booking Protection.
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>CONNECT ANYWHERE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6"><img src="/assets/images/developer-options.jpg" alt="" /></ion-col>
            <ion-col size="6"><img src="/assets/images/ios-logo.jpeg" alt="" /></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>